body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.wrapper {
    max-width: 500px;
    margin: 50px auto
}

.wrapper .card {
    max-width: 400px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(206, 212, 218, 1);
    border-radius: 15px;
    cursor: pointer;
    padding: 0.8rem
}

.form-check .form-check-input{
    float: none;
    margin-left: unset;
}

.space-between-radios{
    margin-right: 25px
}

.danger-feedback{
    font-size: .875em
}
